* {
	box-sizing: border-box;
}
/* Add CSS styling here */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------RESET----------------------------------------------------- */



.header{
	/* margin-left: 10%; */
	padding: 2rem 0 0 2rem;
	/* border: 2px solid black; */
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content:space-around;
	background-color: lightgray;
}

h1 {
	font-size: 45px;
}

.header nav {
	padding: 2rem;
	display: flex;
	flex-wrap: wrap;
	
}

.header a {
	text-decoration: none;
	background-color: white;
	color: black;
	border: 1px solid black;
	padding: 5px 15px;
}



/* -------------------------------------------------------------------------------- */



.body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	margin-top: 20px;
	/* height: 100px; */
}

.body div {
	/* width: 50%; */
	/* border: 1px solid black; */
}

.body-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 5% 5% 0 5%  ;
	width: 48%;
}

.body-content h2 {
	font-size: 25px;
	margin-bottom: 20px;
}

.body-content a {
	margin-top: 15px;
	margin-bottom: 30px;
	width: 25%;
	text-decoration: none;
	background-color: white;
	color: black;
	border: 1px solid black;
	padding: 10px 25px;
	text-align: center;
	font-size: 23px;
	display: flex;
	flex-wrap: wrap;
	align-self: left;
}

.body-content p {
	flex-wrap: wrap;
	font-size: 45px;
}

.content-img {
	width: 48%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.body div img {
	/* height: 100%; */
	/* width: 50%; */
	/* box-sizing: border-box; */
	max-width: 100%;


	/* width: 500px; */

}

/* img {
	width: 50px;
} */





/* -------------------------------------------------------------- */


.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.gallery div {
	margin-top: 2.5%;
	margin-bottom: 2.5% ;
}

.gallery div p {
	text-align: center;
	font-size: 30px;
	margin-top: 3%;
}


/* ------------------------------------------------------- */

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: lightgrey;
	/* height: 400px; */
}

.footer p {
	font-size: 50px;
	margin-top: 50px;
}

.footer a {
	margin-top: 20px;
	margin-bottom: 50px;
	border: 1px solid black;
	padding: 25px 75px;
	text-decoration: none;
	color: black;
	background-color: white;
	font-size: 30px;
}

a:hover {
	color: white;
	background-color: black;
}